<h1>Users</h1>

<h3>{{users.length}} / {{(users | filter: SearchText).length}}</h3>
<br/>

<div>
    <h4>Filtruj: </h4>
    <h5><input type="text" ng-model="SearchText" placeholder="Zadaj text pre filtráciu"/></h5>
</div>
<br/>

<div ng-repeat="user in users | filter: SearchText | orderBy:'profile.email'">
    <span> Číslo stavu: </span>
    <input type="text" ng-model="user.num" value="{{user.num}}"/>
    <span> Názov stavu: </span>
    <input type="text"ng-model="user.name" value="{{user.name}}"/>
    <!--<select ng-init="changeState = states[state.num]" ng-model="changeState" ng-options="state.name for state in states" required></select>-->
    <button class="btn btn-info" ng-click="SaveUser(user)">Uložiť</button>
    <div class="btn btn-primary" ng-click="CleanUser(user)">Vyčistiť</div>
    <div class="btn btn-danger" ng-click="DeleteUser(user)">Vymazať</div>
    <br/>
</div>

<div>
    <input type="text" ng-model="addUser.profile.first_name" placeholder="Zadaj názov stavu"/>
    <button class="btn btn-info" ng-click="AddUser(addUser)">Vytvoriť</button>
</div>
