<h1>Rooms</h1>

<h3>{{tables.length}} / {{(tables | filter: '548afd22436b8c341c8d1efb').length}} / {{(tables| filter: '548afd22436b8c341c8d1efc').length}}</h3>
<br/>

<div>
    <h4>Filtruj: </h4>
    <h5><input type="text" ng-model="SearchText" placeholder="Zadaj text pre filtráciu"/></h5>
</div>
<br/>

<div ng-repeat="room in rooms | filter: SearchText | orderBy:'room.order'">
    <span> Poradie: </span>
    <input type="text" ng-model="room.order"/>
    <!--<select ng-init="changeTable.table = tables[table.order]" ng-model="changeTable.table" ng-options="table.order for table in tables" required></select>-->
    <span> Name: </span>
    <input type="text" ng-model="room.name"/>
    <span> Pozícia miestnosti: </span>
    <input type="text" ng-model="room.positioning"/>

    <button class="btn btn-info" ng-click="SaveRoom(room, changeRoom)">Uložiť</button>
    <div class="btn btn-primary" ng-click="CleanRoom(room)">Vyčistiť</div>
    <div class="btn btn-danger" ng-click="DeleteRoom(room)">Vymazať</div>
    <br/>
</div>
<br/>

<div>
    <span> Názov: </span>
    <input type="text" ng-model="newRoom.name" placeholder="Zadaj názov miestnosti"/>
    <span> Pozícia miestnosti: </span>
    <input type="text" ng-model="newRoom.positioning" placeholder="Zadaj pozíciu miestnosti"/>
    <button class="btn btn-info" ng-click="AddRoom(newRoom)">Vytvoriť</button>
</div>
